<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    </head>

    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>


        <main>
            <% if(RENDER_CODE === 'LIST_USERS') { %>
                <%- include('./list-user'); %>            
            <% } %>

            <% if(RENDER_CODE === 'LIST_PLAYERS') { %>
                <%- include('./list-player'); %>            
            <% } %>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        </footer>
    </body>
</html>